.sidebar{
    background-color: #222d32;
    height: 100vh;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    &__information {
        @include flexBox(flex-start, center);
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-left: 1.6rem;
    }

    &__avatar {
        @include box(6rem);
        background-color: #fff;
        border-radius: 50%;
    }

    &__name {
        font-weight: bold;
        color: white;
        margin-left: 1rem !important;
    }

    .ant-menu{
        width: 100% !important;
        background-color: #222d32;
        color: white;
    }
    .ant-menu-submenu > .ant-menu {
        background-color: #222d32;
    }
    .ant-menu-inline{
        border: none;
    }
    .ant-menu-submenu-arrow{
        background-color: white;
        color: white;
        &::before, &::after{
            background-color: #fff;
            background-image: linear-gradient(to right, #fff, #fff) !important;
        }
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: transparent;
    }
    .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
        border-right: 5px solid #1890ff;
    }
    a{
        color: white !important;
    }
    .ant-menu-item-selected a, .ant-menu-item-selected a:hover, .ant-menu-item a:hover{
        color: #1890ff !important;
    }
    .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
        line-height: 0;
        height: 3rem;
        @include flexBox(flex-start, center);
    }
    .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
        line-height: 0;
        height: 3rem;
    }
    &__button-logout {
        @include centerFlexBox();
        color: white;
        transition: all .5s ease-in-out;
        margin: 0 2rem;
        margin-top: 5rem;
        font-size: 1.8rem;
        border-radius: 7px;
        cursor: pointer;
        :nth-child(2){
            margin-left: .7rem;
        }
        &:hover {
            color: #1890ff;
        }
    }
}