.facility {
    &__top {
        background-color: #fff;
        height: 5rem;
        @include flexBox(space-between, center);
        padding: 0 3rem 0 1rem;
    }
    &__title {
        font-size: 2rem;
    }
    &__button {
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 7px;
        cursor: pointer;
        &__text {
            margin-left: 0.3rem;
            font-size: 1.4rem;
        }
        &:nth-child(1) {
            background-color: rgb(0, 190, 0);
        }
    }
    &__right {
        @include flexBox(flex-start, center, row);
    }
    &__content {
        background-color: #fff;
        margin: 1rem;
        min-height: 90vh;
        .ant-table-measure-row{
            display: none;
        }
        .ant-table-tbody, .ant-table-thead{
            font-size: 1.4rem;
        }
        .ant-table-pagination.ant-pagination{
            margin: 1rem 0;
        }
        .ant-table-cell-fix-right-first{
            text-align: center;
        }
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
            padding: 1rem;
        }
        .iconDelete{
            @include box(3rem);
            @include centerFlexBox();
            cursor: pointer;
            border-radius: 50%;
            transition: .5s all ease-in-out;
            margin: 0 auto;
        }
        .iconDelete:hover{
            background-color: #222d32;
            color: white;
        }
    }
}
